<div class="container centered" *ngIf="movie$ | async as movie; else loading">
  <div class="row">
    <div class="col">
      <button routerLink="/">Back</button>
      <div class="card bordered movie-card">
        <div class="section">
          <h2 class="title">{{ movie.title }}</h2>
        </div>
        <div class="row">
          <div class="col">
            <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="poster">
          </div>
          <div class="col">
            <p>{{ movie.summary }}</p>
          </div>
        </div>
        <div class="section">
          <h2>Détails</h2>
          <table class="table">
            <tr>
              <td>Box office</td>
              <td>{{ movie.box_office }}</td>
            </tr>
            <tr>
              <td>Budget</td>
              <td>{{ movie.budget | budgetFormat }}</td>
            </tr>
            <tr>
              <td>Durée</td>
              <td>{{ movie.duration | durationFormat }}</td>
            </tr>
            <tr>
              <td>Producers</td>
              <td>{{ movie.producers }}</td>
            </tr>
            <tr>
              <td>Cinematographers</td>
              <td>{{ movie.cinematographers }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <span>Loading</span>
</ng-template>
