.container.centered {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 600px;
  margin: 0 auto;
}

.movie-card {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.movie-card .section {
  display: flex;
  flex-direction: column;
}

.section.button {
  justify-content: flex-end;
  display: flex;
}

.detail-button {
  margin-left: auto;
}
