<div class="container centered">
  <div class="row">
    <div class="col">
      <form [formGroup]="searchForm">
        <input type="text" formControlName="title" placeholder="Title">
        <input type="text" formControlName="release" placeholder="Release Date">
      </form>
      <h1>Film List</h1>
      <div class="card bordered" *ngFor="let movie of movies$ | async">
        <div class="section">
          <h2 class="title">{{ movie.title }}</h2>
          <p>Release date : {{ movie.release_date }}</p>
          <p>Budget : {{ movie.budget | budgetFormat}}</p>
          <p>Duration : {{ movie.duration | durationFormat}}</p>
        </div>
        <div class="section button">
          <button class="primary detail-button" [routerLink]="['/movie', movie.id]">Détail</button>
        </div>
      </div>
    </div>
  </div>
</div>
